<div class="text-center">
  <h2>Add a new Cocktail</h2>
  <hr>
</div>

<div class="text-center">
<%= render 'form', cocktail: @cocktail, ingredient: @ingredient %>
<%= link_to "Home", cocktails_path, class:"btn-treehouse"%>
</div>
